@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.hidden-element{
    display: none !important;
}
.show-element{
    display: flex;
}


